.home{  
    margin:  0; 
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #030d0f;
} 

#sobre{
    padding-top:40px;
}
 
.home-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 7rem 2.5rem;
    width: 95%;
}

.home-container-text{
    width: 50%;
}
 
.home-title, .home-title2{
    font-size: 3rem;
    font-weight: 500;
    line-height: 3.8rem;
    margin: 0;
}

.home-title2{ 
    background-image: linear-gradient(to right top, #05d0db, #6ebec41e );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black; 
}

.home-subtitle{
    font-size: 1.3rem;
    font-weight: 400;
    color: #828282;
    margin: 0;
}

.home-text-box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.home-btn-box{
    margin-top: 30px; 
}
 
.foto-perfil{
    width: 350px;
    height: 350px; 
    border-radius: 50%;
    background-color: #9e9e9e;
}

.text-box-sobre{
    width: 100%; 
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column; 
}

.title-sobre{
    margin: 0;
    font-size: 2.3rem;
    letter-spacing: 1.9px;
    font-weight: 600; 
}

.resume{   
    width: 70%;
    color: #cac8c8;
    font-size: 1.8rem; 
}