.div-img-cardProjet{   
  width: 360px;
  height: 460px;
  background-size:cover;
  cursor: pointer;
  border-radius: 20px;
  position: relative; 
  background-position:   100% 0%;
  transition: 8s;
  border: 1px solid #ab8df060;
  box-sizing: border-box;
} 

.div-img-cardProjet:hover{   
    background-position:  0% 100%;
    transition: 8s;
    border: none;
    .title-cardProjet{    
        box-shadow: 0 0 20px #ffffff78;
        opacity: 1; 
    }
}

.title-cardProjet{   
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000007c;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #FFF;
    opacity: 0;
    transition: .5s; 
}
 
.cardProject:hover{
    
    .title-cardProjet{   
        align-self: top;
        display: block; 
        width: 400px; 
        height: 100%;
        background-color: #eeeaea7c;  
    }
} 

.h3-project{ 
    text-align: center;
    width: 300px;
}