.banner{
    color: #fff; 
    width: 490px;
    height: 230px;
    max-height: max-content;
    background-color: #33323234;
    border-radius: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    text-align: center;  
    cursor: pointer;
    position: relative; 
    background-position:   100% 0%;
    transition: .8s;
    background-size:cover; 
} 

.banner-text{
    width: 100%;  
    line-height: 5px; 
}

a{
    text-decoration: none;
    color: #ab8df0;
}
  

.banner-title{ 
    position: absolute; 
    width: 100%;
    height: 100%;
    background-color: #000000b9;
    backdrop-filter: blur(1.5px);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    font-weight: 600;
    color: #ab8df0;
    opacity: 0;
    transition: .6s; 
    gap:20px;
}

.banner:hover{     
    background-position:  0% 100%; 
    .banner-title{      
        opacity: 1; 
    }
}