.header{
    height: 80px;
    width: 100%;
    border-bottom: solid 1px #0F969C;  
    display: flex;  
    justify-content: space-around;
    align-items: center;
    gap: 30%;
}

.menu-icon{  
    cursor: pointer;  
    transform: scale(1.3);
}

.menu-icon:hover{    
    background-color: #294D61;
    border-radius: 5px;
}
 
.header-title{
    letter-spacing: 1px;
}
 
.dark-mode{ 
    display: flex;
    align-items: center;
    justify-content: flex-end; 
} 

.dark-mode-btn{
    background-color: "#fff";
}
 
.modal{ 
    text-align: center;  
    backdrop-filter: blur(2px); 
    height: 94%;  
    margin-top: 85px;
}

#modal-modal-title { 
    font-family: "Poppins", serif;
    transition-duration: 0.5s;
    font-size: 42px;  
    cursor: pointer;
}

#modal-modal-title:hover{
    transform: scale(1.3);
    transition-duration: 0.5s;
}

 
 


 